body{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 60%;
    background-color: white;
    margin-left: 20%;
}

.mainav{
    background-color: olive;
    color: darkred;

}

.mainav li{
    display: inline;
    padding: 5%;
}

.mainav li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.head p{
    display: inline;
}
